{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'establecimientos' %}">Establecimientos</a>
        </li>
        <li class="breadcrumb-item active">Establecimiento {{ establecimiento.name }}</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    <h5>Ver Establecimiento</h5>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Name:</b> {{ establecimiento.name }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Name:</b> {{ establecimiento.address }}
                </div>
            </div>
            <div class="form-group">
                <a href="{% url 'establecimientoEdit' establecimiento.id %}" class="btn btn-primary btn-block">Editar</a>
                <a href="{% url 'establecimientoDelete' establecimiento.id %}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
        </div>
    </div>
{% endblock content %}
