{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'aulas' %}">Aulas</a>
        </li>
        {% if aula.number %}
            <li class="breadcrumb-item active">Editar Aula {{ aula.number }}</li>
        {% else %}
            <li class="breadcrumb-item active">Crear Aula</li>
        {% endif %}
    </ol>
{% endblock hilos %}

{% block content %}
    {% if not existen_establecimientos %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group ">
                Es necesario crear un <b>Establecimiento</b> previamente a la creación de un aula.
            </div>
            <div class="form-group mb-0">
             <a href="{% url 'establecimientoCreate' %}" class="btn btn-success btn-block">Crear Establecimiento</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    {% if aula.number %}
                        <h5>Editar Aula {{ aula.number }}</h5>
                    {% else %}
                        <h5>Crear Aula</h5>
                    {% endif %}
                    <hr>
                </div>
            </div>
        	<form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    {% if not existen_establecimientos %}
                        <button type="submit" class="btn btn-dark btn-block" disabled>Guardar</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
