{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Aulas</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-xs-6 d-flex align-items-center">
                    <i class="fas fa-table mr-1"></i>
                     Listado de Aulas
                </div>
                <div class="col-4 col-xs-4 text-right">
                    <a class="btn btn-success btn-md" href="{% url 'aulaCreate' %}">
                        Crear
                    </a>
                </div>
            </div>    
        </div>
        <div class="card-body" id="elementCard">
            <div class="table-responsive-md">    
                <table class="table table-hover display" style="width: 100%" id="" cellspacing="0">
                    <thead>
                        <th>Número</th>
                        <th>Dirección</th>
                        <th>Piso</th>
                        <th>Capacidad</th>
                        <th>Caracteristicas</th>
                        <th>Acciones</th> 
                    </thead>
                    <tbody>
                            {% for aula in aulas %}
                            <tr>
                                <td>{{ aula.number }}</td>
                                <td>{{ aula.address }}</td>
                                <td>{{ aula.floor }}</td>
                                <td>{{ aula.capacity }}</td>
                                <td>{{ aula.feature }}</td>
                                <td>
                                    <a href="{% url 'aulaDetail' aula.id %}" class="text-warning text-decoration-none">
                                        <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                    </a>
                                    <a href="{% url 'aulaEdit' aula.id %}" class="text-warning text-decoration-none">
                                        <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                    </a>
                                    <a href="{% url 'aulaDelete' aula.id %}" class="text-danger text-decoration-none">
                                        <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('table.display').DataTable({
                "info": false,
                "searching": false,
                "lengthChange": true,
                "paging": false,
                "ordering": false,
                responsive: true,
            });
        });
    </script>
{% endblock content %}
