{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'aulas' %}">Aulas</a>
        </li>
        <li class="breadcrumb-item active">Aula {{ aula.number }}</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    <h5>Ver detalle Aula {{ aula.number }}</h5>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Number:</b> {{ aula.number }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Edificio:</b> {{ aula.address }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Piso:</b> {{ aula.floor }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Capacidad:</b> {{ aula.capacity }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Características:</b> {{ aula.feature }}
                </div>
            </div>
            {% if user.is_admin %}
            <div class="form-group">
                <a href="{% url 'aulaEdit' aula.id %}" class="btn btn-primary btn-block">Editar</a>
                <a href="{% url 'aulaDelete' aula.id %}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
