{% extends 'base.html' %} {% block hilos %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'index' %}">Inicio</a>
  </li>
  <li class="breadcrumb-item active">Reservas</li>
</ol>
{% endblock hilos %} {% block content %}
<!-- Tabla reservas -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Reservas Realizadas
  </div>
</div>
<div id="calendario"></div>

<script>
  function get_events_url() {
    //genero la url para llamar a api que devuelve los eventos
    let is_teacher = "{{user.is_teacher}}";
    //Parseo del booleano, no es lo mismo en python que en js
    if (is_teacher === "False") {
      is_teacher = false;
    } else {
      is_teacher = true;
    }
    if (is_teacher) {
      //si el user es un profesor solo traigo sus reservas mediante su id
      const user_id = "{{user.id}}";
      return (
        window.origin + `/api/calendar/slots/01/01/2019/01/01/2020/${user_id}/`
      );
    } else {
      return window.origin + `/api/calendar/slots/01/01/2019/01/01/2020/`;
    }
  }
  $(function() {
    const events_url = get_events_url();
    
    $("#calendario").fullCalendar({
      schedulerLicenseKey: "CC-Attribution-NonCommercial-NoDerivatives",
      defaultView: "agendaDay",
      nowIndicator: true,
      selectHelper: true,
      height: "auto",
      locale: "es",
      minTime: "07:00:00",
      maxTime: "23:25:00",
      timeFormat: "h(:mm)",
      slotLabelFormat: "h(:mm)a",
      slotDuration: "00:30:00",
      header: {
        // Botones que apuntan a las vistas del calendario
        left: "prev,next today",
        center: "title",
        right: "agendaDay,agendaFourDay,agendaWeek,month"
      },
      hiddenDays: [0], // escondemos domingo
      views: {
        // vistas que va a tener el calendario (se pueden quitar las que se deseen)
        agendaFourDay: {
          type: "agenda",
          duration: { days: 4 },
        },
        agenda: {
          // opciones para la vista de la agenda
          // groupByResource: true,
        },
        week: {
          // opciones para la vista semanal
          // groupByResource: true,
        },
        month: {
          // groupByResource: true,
        },
        day: {
          // opciones para la vista diaria
          groupByDateAndResource: true
        }
      },
      resources: {
        // aulas
        url: window.origin + "/api/calendar/classrooms/",
        error: function() {
          $("#script-warning").show();
        }
      },
      events: {
        //Aca van todas las reservas (eventos) desde la api[s
        url: events_url,
        error: function() {
          $("#script-warning").show();
        }
      },
      eventRender: function(event, element) {
        //Esto es para hacer mouseover los eventos y ver detalles sin necesidad de clickear
        element.qtip({
          content: {
            // contenido del tooltip , solo anexar lo que se desea ver
            title: { text: event.title },
            //contenido del hover
            text: `<span class="title"><b>Solicitante:</b> </span>
                              ${event.request_owner}<br>
                              <span class="title"><b>Inicio:</b> </span>
                              ${$.fullCalendar.formatDate(
                                event.start,
                                "hh:mm"
                              )} <br>
                              <span class="title"><b>Fin:</b> </span>
                              ${$.fullCalendar.formatDate(
                                event.end,
                                "hh:mm"
                              )} <br>
                              <span class="title"><b>Aula:</b> </span>
                              ${event.resourceId}`
          },
          position: {
            my: "top center",
            at: "bottom center"
          },
          show: { solo: true },
          style: {
            classes: "qtip-shadow qtip-rounded qtip-bootstrap"
          }
        });
      }

    });
  });
</script>
{% endblock content %}
