{% extends 'base.html' %}
{% load static from staticfiles %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{% url 'reservations_listado' %}">Reservas</a>
        </li>
        <li class="breadcrumb-item active">Editar {{reserva.name}}</li>
    </ol>
{% endblock hilos %}
<!-- Contenido de la Página-->
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Listado de Subgrupos
        </div>
        <div class="card-body" id="elementCard">
            <a href="{% url 'slotsReservationCreate' reserva.id %}" class="btn btn-primary">Añadir Ranura</a>
            <br>
            <br>
            <div class="table-responsive-sm">
                <table class="table w-100 table-hover display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Subgrupo</th>
                            <th>Día</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Ranuras</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for sg in subgrupos %}
                        <tr>
                            <td type="text" id="sg_{{sg.id}}" value={{ sg.id}} >{{ sg.id}}</td>
                            <td>{{ sg.dia }}</td>
                            <td><input class="timeinput start form-control" style="min-width: 70px;" type="text" id="inicio_{{ sg.id}}" value={{ sg.inicio }}></td>
                            <td><input class="timeinput end form-control" style="min-width: 70px;" type="text" id="fin_{{ sg.id}}" value={{ sg.fin }}></td>
                            <td>
                        	{% for ranura in sg.ranuras %}
                        		<a name="sg_{{sg.id}}" id={{ranura.id}} href={% url 'slotsEdit' ranura.id %} class="badge badge-primary">{{ranura.day}}</a>
                        	{%endfor%}
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="deleteSlotSubgroup({{sg.id}});" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button onclick="callApi()" class="btn btn-primary">Guardar</button>
            <a href={% url 'reservationDetail' reserva.id %}>
                <button class="btn btn-secondary">Volver</button>
            </a>
        </div>
    </div>
    <script type="text/javascript">

        function deleteSlotSubgroup(sg_id){
            var slots_elements = document.getElementsByName(`sg_${sg_id}`);
            slots_elements.forEach( async (anchor) => {
                    url_to_fectch = `/api/ranura/${anchor.id}/borrar/`;
                    await fetch(url_to_fectch).catch(err => console.error(err));
                }
            );
            location.reload();
        }
        async function callApi(){
                let csrftoken = Cookies.get('csrftoken');
                let pk_reserva = "{{reserva.pk}}";
                var calls = "{{subgrupos|length}}";
                var subgrupos = [];

                for (var subgroup = 0; subgroup < calls; subgroup++) 
                    {
                        id = "inicio_"+subgroup;
                        var inicio = document.getElementById(id).value;
                        id = "fin_"+subgroup;
                        var fin = document.getElementById(id).value;
                        subgrupos.push(
                                    {
                                        "subgrupo":subgroup,
                                        "inicio":inicio,
                                        "fin":fin
                                    }
                                    
                            )
                    }
                var url_to_fectch = `/api/reservations/${pk_reserva}/editar/`;
                await fetch(
                        url_to_fectch,
                        {
                            method: "post",
                            credentials: "same-origin",
                            body: JSON.stringify(subgrupos),
                            headers: 
                                {
                                    "X-CSRFToken": csrftoken,
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                },
                        }
                ).then((res) => console.log(res))
                .catch((err) => console.error(err));
                location.reload();
        }
    </script>
    <script type="text/javascript" src="{% static 'js/fn.timepicker.js' %}"></script>
{% endblock content %}
