{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Reservas</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col col-xs-6">
                    <i class="fas fa-table"></i>
                    Listado de Reservas
                </div>
            </div>
        </div>
        <div class="card-body" id="elementCard">
            <div class="table-res">
                <table class="table w-100 table-hover display" id="" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Aula</th>
                            <th>Solicitante</th>
                            <th>Solicitud asociada</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for r in reservations %}
                        <tr>
                            <td>{{ r.id}}</td>
                            <td>{{ r.name }}</td>
                            <td>{{ r.classroom }}</td>
                            <td>{{ r.request.owner }}</td>
                            <td>
                                <a href="{% url 'requestDetail' r.request.id  %}" title="Ver solicitud">
                                    {{ r.request.id }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'reservationDetail' r.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                                {% if user.is_admin %}
                                <a href="{% url 'reservationEdit' r.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                </a>
                                <a href="{% url 'reservationDelete' r.id %}" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.table.display').DataTable({
                "info": false,
                "searching": true,
                "lengthChange": true,
                "paging": true,
                "ordering": true,
                "dom": 'ft<"bottom">p',
                responsive: true,
                "order": [[0, 'desc']]
            });
        });
    </script>
{% endblock content %}
