{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{% url 'reservations_listado' %}">Reservas</a>
        </li>
        <li class="breadcrumb-item">
            {{ reservation.name }}
        </li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-5">
            <div class="card">
                <h5 class="card-header text-center">Reserva {{ reservation.id }}</h5>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-12">
                            <b>Nombre:</b> {{ reservation.name }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <b>Aula Asignada:</b> {{ reservation.classroom }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <b>Solicitud asociada:</b> <a href={% url 'requestDetail' reservation.request.id %}>Solicitud N° {{ reservation.request.id }}</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <b class="d-block">Dias y horarios solicitados:</b>
                            {% for sg in subgrupos %}
                        	    {% for ranura in sg.ranuras %}
                                <span class="d-block">{{ ranura.day }} {{ sg.inicio }} - {{ sg.fin }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if user.is_admin %}
                    <div class="form-group text-right">
                        <a href="{% url 'reservationEdit' reservation.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'reservationDelete' reservation.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
