{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'sws' %}">Reservas</a>
        </li>
        <li class="breadcrumb-item active">Solicitud de Reserva</li>
    </ol>
{% endblock hilos %}

{% block content %}
<div class="card card-formAulas mx-auto">
    <div class="card-body">
        <div class="form-group">
            <div class="form-label-group text-center">
                <h5>Solicitud de Reserva de Laboratorio de Informatica</h5>
                <hr>
            </div>
        </div>
        <div>
        <form method="POST" id="formRequest">
            {% csrf_token %}

            <div id="div_id_type" class="form-group"><label for="id_type" class="col-form-label  requiredField">
                Tipo de Reserva<span class="asteriskField">*</span> </label>
                <div class="">
                    <select name="type" class="select form-control" id="id_type">
                        <option value="punctual" selected="">Puntual</option>
                        <option value="periodic">Periódica</option>
                    </select>
                </div>
            </div>

            <div id="div_id_repetition" class="form-group" style="display: none;">
                <label for="id_repetition" class="col-form-label  requiredField">
                    Repetir cada<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <select name="repetition" class="select form-control" id="id_repetition">
                        <option value="weekly">Semana</option>
                        <option value="monthly">Mes</option>
                    </select>
                </div>
            </div>

            <div id="div_id_until" class="form-group" style="display: none;">
                <label for="id_until" class="col-form-label  requiredField">
                    Hasta el día<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="until" class="dateinput form-control" id="id_until">
                </div>
            </div>

            <div id="div_id_requirements" class="form-group">
                <label for="id_requirements" class="col-form-label  requiredField">
                    Requerimientos de infraestructura (Opcional)<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="requirements" value="aire acondicionado" maxlength="100"
                           class="textinput textInput form-control" required="" id="id_requirements">
                </div>
            </div>

            <div id="div_id_amountOfStudents" class="form-group">
                <label for="id_amountOfStudents" class="col-form-label  requiredField">
                    Cantidad de estudiantes<span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="number" name="amountOfStudents" value="20" class="numberinput form-control"
                           required id="id_amountOfStudents" min="0">
                </div>
                <div class="invalid-feedback">La cantidad de alumnos debe ser un numero mayor a cero</div>
            </div>

            <!-- REQUERIMIENTOS DE SW -->
            <label for="id_amountOfStudents" class="col-form-label  requiredField">
                Software necesario<span class="asteriskField">*</span>
            </label>
            <div id="formSW" class="form-group">
                {{form.swsRequired}}
            </div>

            <div id="div_id_comments" class="form-group">
                <label for="id_comments" class="col-form-label requiredField">
                Comentarios</label>
                <div class="">
                    <textarea name="comments" placeholder="En caso de no encontrar el SW especificar acá" cols="40" rows="2" class="textarea form-control" id="id_comments" spellcheck="false"></textarea>
                </div>
            </div>

            <!-- SLOTS/PERIODOS -->
            <hr>

            <div id="formSlots">
                <input type="hidden" name="slots-TOTAL_FORMS" value="1" id="id_slots-TOTAL_FORMS">
                <input type="hidden" name="slots-INITIAL_FORMS" value="0" id="id_slots-INITIAL_FORMS">
                <input type="hidden" name="slots-MIN_NUM_FORMS" value="0" id="id_slots-MIN_NUM_FORMS">
                <input type="hidden" name="slots-MAX_NUM_FORMS" value="1000" id="id_slots-MAX_NUM_FORMS">

                <div class="multiField" id="slots-0">
                    <div id="div_id_slots-0-day" class="form-group">
                        <label for="id_slots-0-day" class="col-form-label requiredField">
                            Día<span class="asteriskField">*</span>
                        </label>
                        <div class="">
                            <input type="text" name="slots-0-day" class="dateinput form-control" id="id_slots-0-day" value="" required>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="col-sm-5 p-0">
                                <div id="div_id_slots-0-start_time" class="form-group">
                                    <label for="id_slots-0-start_time" class="col-form-label requiredField">
                                        Hora de inicio<span class="asteriskField">*</span>
                                    </label>
                                    <div class="">
                                        <input type="text" name="slots-0-start_time" value="13:00" class="timeinput start form-control" id="id_slots-0-start_time" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 p-0">
                                <div id="div_id_slots-0-end_time" class="form-group">
                                    <label for="id_slots-0-end_time" class="col-form-label requiredField">
                                        Hora de fin<span class="asteriskField">*</span>
                                    </label>
                                    <div class="">
                                        <input type="text" name="slots-0-end_time" value="14:00" class="timeinput end form-control" id="id_slots-0-end_time" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="slots-0-id" id="id_slots-0-id">
                </div>
            </div>

            <a class="btn btn-danger" href="javascript:void(0)" id="delete_slot" onclick="deleteForm('{{slots.prefix}}')" style="display: none;">Eliminar dia</a>
            <a class="btn btn-success" href="javascript:void(0)" id="new_slot" onclick="addDay()">Agregar nuevo dia </a>
            <hr>
            <div class="form-group">
                <button id="createBTN" onclick="submitForm()" type="submit" class="btn btn-primary btn-block" >
                    <span id="btnSpinner" class="spinner-border spinner-border-sm" role="status" style="display: none"></span>
                    <span id="btnText">Crear</span>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitForm() {
        let form = document.getElementById('formRequest');

        if (!form.checkValidity()) {
            return false;
        }

        $("#createBTN").attr("disabled", true);
        $("#btnText").text("Creando...");
        $("#btnSpinner").show();
        form.submit();
    }
 
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx; if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(selector, prefix, index) {
        var newElement = $('#'+ selector +'>.multiField:first').clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();

        newElement.find(':input').each(function() {
            var name = $(this).attr('name');
            if(name) {
                name = name.replace('-0-', '-' + index + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.attr('id', `${prefix}-`+index);
        $(`#${selector}`).append(newElement);
        if (prefix === 'slots') {
            document.getElementById(`id_slots-${index}-day`).required = false;
            document.getElementById(`id_slots-${index}-start_time`).required = false;
            document.getElementById(`id_slots-${index}-end_time`).required = false;
            $(`#${prefix}-${index}`).hide();
        }

        return false;
    }

    // Agregar un SW a la solicitud
    function addNewForm(prefix) {
        let total = $('#id_sw_requirements-TOTAL_FORMS').val();
        cloneMore('formSW', prefix, total);
        $('#id_sw_requirements-TOTAL_FORMS').val(parseInt(total) + 1);
        $('#delete_sw_requirement').show();
    }

    // Agregar un nuevo dia
    function addDay() {
        let total = $('#id_slots-TOTAL_FORMS').val();
        $(`#slots-${total}`).show();
        document.getElementById(`id_slots-${total}-day`).setAttribute('required', '');
        document.getElementById(`id_slots-${total}-start_time`).setAttribute('required', '');
        document.getElementById(`id_slots-${total}-end_time`).setAttribute('required', '');
        $('#id_slots-TOTAL_FORMS').val(parseInt(total) + 1);
        $('#delete_slot').show();
    }

    // Eliminar dia o requerimiento de SW
    function deleteForm(prefix) {
        let selector;
        let total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

        if (total === 1) return false;

        if(prefix=='sw_requirements'){
            selector = document.getElementById("delete_sw_requirement");
            $(`#${prefix}-${total - 1}`).remove();
        }
        if(prefix=='slots'){
            selector = document.getElementById("delete_slot");
            document.getElementById(`id_slots-${total - 1}-day`).required = false;
            document.getElementById(`id_slots-${total - 1}-start_time`).required = false;
            document.getElementById(`id_slots-${total - 1}-end_time`).required = false;
            $(`#${prefix}-${total - 1}`).hide();
        }

        if (total === 2) {
            $(selector).hide();
        }

        $('#id_' + prefix + '-TOTAL_FORMS').val(total-1);
    }

    // Cambiar tipo de solicitud (puntual o periodica)
    let select_type = document.getElementById("id_type");
    select_type.onchange = function () {
        let request_type = select_type.value;

        if (request_type === 'periodic') {
            $('#div_id_repetition').show();
            $('#id_repetition').attr('required', '');
            $('#div_id_until').show();
            $('#id_until').attr('required', '');
        }
        else {
            $('#div_id_repetition').hide();
            $('#id_repetition').removeAttr('required');
            $('#div_id_until').hide();
            $('#id_until').removeAttr('required', '');
        }
    };

    function iniDatePicker() {
        let total = $('#id_slots-TOTAL_FORMS').val();

        while (total < 11) {
            cloneMore('formSlots', 'slots', total);
            total++;
        }
    }

    $(document).ready(function(){
        $('#div_id_repetition').hide();
        $('#div_id_until').hide();

        iniDatePicker();

        $('.dateinput').datepicker({
            'format': 'dd/mm/yyyy',
            'autoclose': true,
            language: 'es',
            'minDate': new Date(),
            onRenderCell: function (date, cellType) {
                if (cellType === 'day') {
                    let day = date.getDay(),
                        isDisabled = day === 0;
                    return {
                        disabled: isDisabled
                    }
                }
            }
        });
    });
</script>
<script type="text/javascript" src="{% static 'js/fn.chosen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fn.timepicker.js' %}"></script>
{% endblock content %}