{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Solicitudes</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <!-- Tabla reservas -->
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-xs-12 d-flex align-items-center">
                    <i class="fas fa-table mr-1"></i>
                     Solicitudes Realizadas
                </div>
                {% if user.is_admin or user.is_teacher %}
                    <div class="col-4 col-xs-4 text-right">
                        <a class="btn btn-success btn-md" href="{% url 'requestCreate' %}">
                            Crear
                        </a>
                    </div>
                {% endif %}
            </div>  
        </div>
        <div class="card-body" id="elementCard">
            <div class="table-res">
                <table class="table w-100 table-hover display" id="" cellspacing="0">
                    <thead>
                        <tr>
                            {% if not user.is_teacher %}
                            <th>ID</th>
                            {% endif %}
                            <th>Solicitante</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Estudiantes</th>
                            <th>Requerimientos extras</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for request in requests reversed %}
                        {# Vista de admins y becarios #}
                        {% if not user.is_teacher %}
                        <tr>
                            <td>{{ request.id }}</td>
                            <td>{{ request.owner }}</td>
                            <td>{{ request.slots_set.first.day }}</td>
                            <td>{{ request.slots_set.last.day }}</td>
                            <td>{{ request.amountOfStudents}}</td>
                            <td>{{ request.requirements }}</td>
                            <td>
                                {% if request.status == 'approved' %}
                                    <span class="badge badge-pill badge-success">Aprobado</span>
                                {%endif%}
                                {% if request.status == 'new' %}
                                    <span class="badge badge-pill badge-primary">Nuevo</span>
                                {%endif%}
                                {% if request.status == 'rejected' %}
                                    <span class="badge badge-pill badge-danger">Rechazado</span>
                                {%endif%}
                                {% if request.status == 'deletedReservation' %}
                                    <span class="badge badge-pill badge-warning">Reserva eliminada</span>
                                {%endif%}
                            </td>
                            <td>
                                <a href="{% url 'requestDetail' request.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                                {% if user.is_admin %}
                                <a href="{% url 'requestEdit' request.id  %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                </a>
                                <a href="{% url 'requestDelete' request.id %}" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {# Vista de profesores #}
                        {% if user.is_teacher and user == request.owner %}
                        <tr>
                            <td>{{ request.owner }}</td>
                            <td>{{ request.slots_set.first.day }}</td>
                            <td>{{ request.slots_set.last.day }}</td>
                            <td>{{ request.amountOfStudents}}</td>
                            <td>{{ request.requirements }}</td>
                            <td>
                                {% if request.status == 'approved' %}
                                    <span class="badge badge-pill badge-success">Aprobado</span>
                                {%endif%}
                                {% if request.status == 'new' %}
                                    <span class="badge badge-pill badge-primary">Nuevo</span>
                                {%endif%}
                                {% if request.status == 'rejected' %}
                                    <span class="badge badge-pill badge-danger">Rechazado</span>
                                {%endif%}
                                {% if request.status == 'deletedReservation' %}
                                    <span class="badge badge-pill badge-warning">Reserva eliminada</span>
                                {%endif%}
                                
                            </td>
                            <td>
                                <a href="{% url 'requestDetail' request.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.table.display').DataTable({
                "info": false,
                "searching": true,
                "lengthChange": true,
                "paging": true,
                "ordering": true,
                "dom": 'ft<"bottom">p',
                responsive: true,
                "order": [[0, 'desc']]
            });
        });
    </script>
{% endblock content %}

