<div class="card">
    <h5 class="card-header text-center">Solicitud de Reserva {{ request.id }}</h5>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-12">
                <b>Estado:</b>
                {%if request.status == "approved" %}
                <span class="text-success">Solicitud aprobada</span>
                {%elif request.status == "new"%}
                <span class="text-primary">Solicitud nueva</span>
                {%elif request.status == "pending"%}
                <span class="text-warning">Solicitud pendiente</span>
                {%elif request.status == "rejected"%}
                <span class="text-danger">Solicitud rechazada</span>
                {%endif%}
            </div>
        </div>
        {% if not user.is_admin and request.status == "approved" %}
            <div class="form-group">
                <div class="form-label-group">
                    <b>Reserva asociada: </b>
                    <a href={% url 'reservationDetail' reservation.id %}>{{ reservation }}</a>
                </div>
            </div>
            <hr>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12">
                <b>Solicitante:</b> {{ request.owner }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <b>Requerimientos:</b> {{ request.requirements }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <b>Cantidad de estudiantes:</b> {{ request.amountOfStudents }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <b class="d-block">Software solicitado:</b>
                {% for sw_requirement in sw_requirements %}
                    <span class="d-block">{{ sw_requirement.sw }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <b>Comentarios:</b> {{ request.comments|default_if_none:"" }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <b class="d-block">Dias y horarios solicitados:</b>
                {% for slot in request.slots_set.all %}
                    <span class="d-block">{{ slot.day }} {{ slot.start_time }} - {{ slot.end_time }}</span>
                {% endfor %}
            </div>
        </div>
        {% if not request.status == "approved" %}
            {% if not user.is_admin %}
                <div class="form-group text-right">
                    <a id="aLink" onclick="btnOnclick()" href="{% url 'requestDelete' request.id %}" class="btn btn-danger" >
                        <span id="spinnerDelete" class="spinner-border spinner-border-sm" role="status" style="display: none"></span>
                        <span id="textDelete">Eliminar</span>
                    </a>
                </div>
                {% else %}
                    <div class="form-group" id="btnTable">
                        <a href="{% url 'requestEdit' request.id %}" class="btn btn-primary">Editar</a>
                        {% if not request.status == "rejected" %}
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#rejectModal">
                                Rechazar
                            </button>
                        {% endif %}
                        <a id="aLink" onclick="btnOnclick()" href="{% url 'requestDelete' request.id %}" class="btn btn-danger" >
                        <span id="spinnerDelete" class="spinner-border spinner-border-sm" role="status" style="display: none"></span>
                        <span id="Text">Eliminar</span>
                        </a>
                    </div>
            {% endif %}
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span class="btn btn-dark" data-dismiss="modal">Solicitud   <span class="badge badge-light"> ID: <b>{{request.id}}</b></span></span> </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                            <div class="form-group">
                                    <label for="motivoRechazo">Motivo del rechazo </label>
                                    <textarea data-original-title="Por Favor rellene este campo" class="form-control rounded-0" id="motivoRechazo" rows="3" required=""></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="cleanText()"class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                            <button onclick="reject_request()" class="btn btn-primary" id="rejectButton">
                                <span id="rejectSpinner"class="spinner-border spinner-border-sm" role="status" hidden="true"></span>
                                <span id="rejectButtonText">Rechazar</span>
                            </button>
                        </div>
                </div>
            </div>
        </div>
  
  
        <input type="hidden" id="pcId" value="{{ request.id }}" />
    </div>
</div>
<script type="text/javascript">
    function btnOnclick() {
        let link = document.getElementById("aLink");
        link.classList.add("disabled");
        $("#textDelete").text("Eliminando...");
        $("#spinnerDelete").show();
        url_request = "{% url 'requests'%}"
        window.location.replace(url_request);

    }
    $(document).ready(function() {
        $('.form-control').tooltip( {
            trigger: "manual"
            });
        $('#motivoRechazo').click(function() {
            $('#motivoRechazo').tooltip('hide');
            });
        $('#motivoRechazo').keyup(function() {
            $('#motivoRechazo').tooltip('hide');;
            });
        $('#rejectModal').on('shown.bs.modal', function () {
            $('#motivoRechazo').focus();
            }); 
    });
    function cleanText() {
        $('#motivoRechazo').val('');
    }
    async function reject_request(){
            const url_to_fectch = `{% url "requestReject" request.id %}`;
            const redirect_url = '{% url "requests"%}';
            let motivo_rechazo = $('#motivoRechazo').val();
            let csrftoken = Cookies.get('csrftoken');
            let isvalidTextarea = document.getElementById('motivoRechazo');
            
            if (!isvalidTextarea.checkValidity()) {
                $('#motivoRechazo').tooltip('show');
                $('#motivoRechazo').focus();
                return false;
            };

            $('#rejectButton').attr('disabled', true);
            $('#rejectSpinner').attr('hidden', false);
            $('#rejectButtonText').text('Rechazando solicitud...');
            await fetch(
                    url_to_fectch,
                    {
                        method: "post",
                        credentials: "same-origin",
                        body: JSON.stringify(motivo_rechazo),
                        headers: 
                            {
                                "X-CSRFToken": csrftoken,
                                "Accept": "application/json",
                                "Content-Type": "application/json"
                            },
                    }
            ).then((res) => console.log(res))
            .catch((err) => console.error(err));
            window.location.replace(redirect_url);
    }
</script>