{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'requests' %}">Solicitudes</a>
        </li>
        <li class="breadcrumb-item active">Solicitud de Reserva {{ request.id }}</li>
    </ol>
{% endblock hilos %}
<!-- Contenido de la Página-->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {% include 'Request/mostrarSolicitud.html' %}
        </div>
        {%if user.is_admin%}
            <div class="col-12 col-md-6">
                {% if request.status == "approved" %}
                    {% include "Request/mostrarReserva.html" %}
                {%else%}
                    <div class="card">
                        <h5 class="card-header text-center">Generar Reserva</h5>
                        <div class="card-body">
                            <form method="POST" id="formRequest">
                                {% csrf_token %}
                                <div id="div_id_name" class="form-group row">
                                    <label for="id_name" class="col-form-label col-md-12 requiredField">
                                        Nombre de reserva:
                                    </label>
                                    <div class="col-md-12">
                                      <input type="text" name="name" maxlength="80" class="textinput textInput form-control" required="" id="id_name">
                                    </div>
                                </div>
                                <div id="div_id_classroom" class="form-group">
                                    <label for="id_classroom" class="col-form-label requiredField">
                                    Asignar Aula:
                                    </label>
                                    <div class="accordion" id="accordionLista">
                                        {% for classroom in classrooms %}
                                        <div class="card">
                                            <div class="card-header headerAcordion" id="heading{{ classroom.id }}">
                                                <h6>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" id="aulaa{{ classroom.id }}" value={{classroom.id}} name="classroom" required>
                                                                <label class="custom-control-label accLabel" data-toggle="collapse" data-parent="#accordionLista" href="#collapse{{ classroom.id }}" for="aulaa{{ classroom.id }}">Aula {{ classroom.id }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 aulaDetail text-right">
                                                            <div class="aulaDetail">
                                                                <span class="" id="aulaa{{ classroom.id }}info"></span>
                                                                <span class="" id="aulasw{{ classroom.id }}info"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div id="collapse{{ classroom.id }}" class="collapse {% if classroom.id == 1 %} show
                                            {% endif %}" aria-labelledby="heading{{ classroom.id }}" data-parent="#accordionLista">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="textoAcordion">
                                                            <b>Cantidad de PC que poseen el/los software/s solicitado/s:</b>
                                                            </div>
                                                            <div class="sw-pcDetail">
                                                                <h6 class="" id="aulasw{{ classroom.id }}detail"></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group" id="btnTable">
                                    <button id="asignarBTN" onclick="submitForm()" type="submit" class="btn btn-primary">
                                        <span id="btnSpinner" class="spinner-border spinner-border-sm" role="status" style="display: none"></span>
                                        <span id="btnText">Asignar</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {%endif%}
            </div>
        {%endif%}
    </div>

    <script type="text/javascript">
        function submitForm() {
            let form = document.getElementById('formRequest');

            if (!form.checkValidity()) {
                return false;
            }

            $("#asignarBTN").attr("disabled", true);
            $("#btnText").text("Asignando...");
            $("#btnSpinner").show();
            form.submit();
        }

        async function chequeo_aulas(){
            let cl = '';
            let rq = {{ request.id }};
            let csrftoken = Cookies.get('csrftoken');
            let classroomsCount = {{ classrooms | length }};
            var classrooms = [{% for classroom in classrooms %}'{{ classroom.pk|escapejs }}',{% endfor %}]

            for (let i = 0; i < classroomsCount; i++) {
                    //chequear disponibilidad del aula
                    let aula_id = classrooms[i];
                    await fetch(`/api/solicitudes/${rq}/aula/${aula_id}/disponibilidad/`, {
                        method: "get",
                        credentials: "same-origin",
                        headers: {
                            "X-CSRFToken": csrftoken,
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        }
                    }).then(function (res) {
                        return res.text();
                    }).then(function (status) {
                        if (status === "true") {
                            $('#aulaa'+aula_id+'info').addClass('badge badge-pill badge-success').append("Disponible");
                        }
                        else {
                            $('#aulaa'+aula_id+'info').addClass('badge badge-pill badge-danger').append("Reservado");
                        }
                    }).catch(function (ex) {
                        console.log("error", ex);
                    });
                    // chequear cumplimiento de requisitos de sw 
                    let url = `/api/solicitudes/${rq}/aula/${aula_id}/chequear_requisitos_de_sw/`;

                    await fetch(url, {
                        method: "get",
                        credentials: "same-origin",
                        headers: {
                            "X-CSRFToken": csrftoken,
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        }
                    })
                    .then((resp) => resp.json()) // Transform the data into json
                    .then(function(data) {
                    // Create and append the li's to the ul
                    let jdata = JSON.parse(data);
                    if (jdata.exists === true) {
                            $('#aulasw'+aula_id+'info').addClass('badge badge-pill badge-success').append("SW: OK");
                            var infopc = '';
                            for (var key in jdata.number_of_pcs) {
                                var aux = `<b>${key}: <span class="badge badge-secondary">${jdata.number_of_pcs[key]}</span></b> `;
                                infopc = infopc.concat(aux);
                            };
                            $('#aulasw'+aula_id+'detail').append(
                                '<div>' + infopc + '</div>');
                        }
                        else {
                            $('#aulasw'+aula_id+'info').addClass('badge badge-pill badge-danger').append("SW: No cumple");
                        }
                    })
                    .catch(function (ex) {
                        console.log("error", ex);
                    });
            }
        }

        $(document).ready(chequeo_aulas())
    </script>
{% endblock content %}
