{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sos' %}">Sistemas Operativos</a>
        </li>
        {% if so.id %}
            <li class="breadcrumb-item active">Editar SO {{ so.number }}</li>
        {% else %}
            <li class="breadcrumb-item active">Crear SO</li>
        {% endif %}
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    {% if so.id %}
                        <h5>Editar Sistema Operativo</h5>
                    {% else %}
                        <h5>Crear Sistema Operativo</h5>
                    {% endif %}
                    <hr>
                </div>
            </div>
        
        	<form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}