{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sos' %}">Sistemas Operativos</a>
        </li>
        <li class="breadcrumb-item active">So {{ aula.number }}</li>
    </ol>
{% endblock hilos %}
<!-- Contenido de la Página-->
{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    <h5>Ver detalle Sistema Operativo {{ so.id }}</h5>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Nombre:</b> {{ so.name }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Descripcion:</b> {{ so.description }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Virtualizado:</b> {% if so.virtualized %} Si {%else%} No {%endif%}
                </div>
            </div>

            <div class="form-group">
                <a href="{% url 'soEdit' so.id %}" class="btn btn-primary btn-block">Editar</a>
                <a href="{% url 'soDelete' so.id %}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
            <input type="hidden" id="aulaId" value="{{ aula.id }}" />
        </div>
    </div>
{% endblock content %}
