{% extends 'base.html' %}
{% load static %}
{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">PCs</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-8 col-xs-6 d-flex align-items-center">
                    <i class="fas fa-table mr-1"></i>
                     Listado de PCs
                </div>
                <div class="col-4 col-xs-4 text-right">
                    <a class="btn btn-success btn-md" href="{% url 'pcCreate' %}">
                        Crear
                    </a>
                </div>
            </div>  
        </div>
        <div class="card-body" id="elementCard">        
            <div class="table-responsive">
                <table class="table w-100 table-hover display" id="" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Aula</th>
                            <th>Número</th>
                            <th>Detalles</th>
                            <th>SO</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% for pc in pcs %}
                        <tr>
                            <td>{{ pc.classroom }}</td>
                            <td>{{ pc.number }}</td>
                            <td>{{ pc.details }}</td>
                            <td>
                            {% for so in pc.so.all %}
                                {{ so.name }}
                            {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'pcDetail' pc.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Ver" data-toggle="tooltip">remove_red_eye</i>
                                </a>
                                <a href="{% url 'pcEdit' pc.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Editar" data-toggle="tooltip">edit</i>
                                </a>
                                <a href="{% url 'pcClone' pc.id %}" class="text-warning text-decoration-none">
                                    <i class="material-icons" title="Clonar" data-toggle="tooltip">filter_none</i>
                                </a>
                                <a href="{% url 'pcDelete' pc.id %}" class="text-danger text-decoration-none">
                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/fn.datatables.js' %}"></script>
{% endblock content %}
