{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'pcs' %}">PCs</a>
        </li>
        <li class="breadcrumb-item active">PC {{ pc.number }}</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    <h5>PC <i><b>{{ pc.number }}</b></i></h5>
                    <hr>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Número:</b> {{ pc.number}}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Detalles:</b> {{ pc.details }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>SO & SW:</b>
                </div>
            </div>

             {% for so in pc.so.all %}
                <ul class="list-group">
                <li class="list-group-item alert alert-dark">
                    <div class="row ">
                        <div class="col-6 ">{{so.name | title}}</div>
                        <div class=" col-6">
                            {%for pc_so_sw in pc_so_sws %}
                                    {% if pc_so_sw.pc_so.so == so %}
                                        <span class="badge badge-primary badge-pill mb-3 ml-3"> {{pc_so_sw.sw}} </span>
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
            <br/>

            <div class="form-group">
                <a href="{% url 'pcEdit' pc.id %}" class="btn btn-primary btn-block">Editar</a>
                <a href="{% url 'pcDelete' pc.id %}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
        </div>
    </div>
{% endblock content %}
