<!DOCTYPE html>
<html lang="en">
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Derechos reservados @{% now "Y" %} UTN-FRRe</span>
      <span>Facultad Regional Resistencia - Universidad Tecnológica Nacional</span>
    </div>
  </div>
</footer>
</html>
