<ul class="sidebar navbar-nav">
    {% if user.is_admin %}
    <li class="nav-item dropdown keep-open" id="menu-classroom">
        <a class="nav-link dropdown-toggle" href="#" onclick="activeMenu('classroom')" id="pagesDropdown1" role="button" data-toggle="dropdown"
           aria-expanded="false" data-disabled="true">
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
            <span>Aulas</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown1">
            <a class="dropdown-item" href="{% url 'aulas' %}">Lista</a>
            <a class="dropdown-item" href="{% url 'aulaCreate' %}">Crear</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Establecimientos:</h6>
            <a class="dropdown-item" href="{% url 'establecimientos' %}">Lista</a>
            <a class="dropdown-item" href="{% url 'establecimientoCreate' %}">Crear</a>
        </div>
    </li>
    <li class="nav-item dropdown keep-open" id="menu-pc">
        <a class="nav-link dropdown-toggle" href="#" onclick="activeMenu('pc')" id="pagesDropdown1" role="button" data-toggle="dropdown"
           aria-expanded="false" data-disabled="true">
            <i class="fas fa-fw fa-desktop"></i>
            <span>PC</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown1">
            <a class="dropdown-item" href="{% url 'pcs' %}">Lista</a> 
            <a class="dropdown-item" href="{% url 'pcCreate' %}">Crear</a>
        </div>
    </li>
    <li class="nav-item dropdown keep-open" id="menu-so">
        <a class="nav-link dropdown-toggle" href="#" onclick="activeMenu('so')" id="pagesDropdown1" role="button" data-toggle="dropdown"
           aria-expanded="false" data-disabled="true">
            <i class="fab fa-windows"></i>
            <span>SO</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown1">
            <a class="dropdown-item" href="{% url 'sos' %}">Lista</a>
            <a class="dropdown-item" href="{% url 'soCreate' %}">Crear</a>
        </div>
    </li>
    <li class="nav-item dropdown keep-open" id="menu-sw">
        <a class="nav-link dropdown-toggle" href="#" onclick="activeMenu('sw')" id="pagesDropdown1" role="button" data-toggle="dropdown"
           aria-expanded="false" data-disabled="true">
            <i class="fas fa-compact-disc"></i>
            <span>Software</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown1">
            <a class="dropdown-item" href="{% url 'sws' %}">Lista</a>
            <a class="dropdown-item" href="{% url 'swCreate' %}">Crear</a>
            <a class="dropdown-item" href="{% url 'swAssign' %}">Asignar a PC</a>
            <a class="dropdown-item" href="{% url 'swSOClassroomAssignment' %}">Asignar a Aula</a>
            <a class="dropdown-item" href="{% url 'swAssignments' %}">Ver Asignaciones</a>
        </div>
    </li>
    {% endif %}
    <li class="nav-item dropdown keep-open" id="menu-request">
        <a class="nav-link dropdown-toggle" href="#" onclick="activeMenu('request')" id="pagesDropdown2" role="button" data-toggle="dropdown"
           aria-expanded="false" data-disabled="true">
            <i class="fas fa-fw fa-envelope"></i>
            <span>{% if user.is_teacher %} Mis Solicitudes {% else %} Solicitudes {% endif %}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown2">
            {% if user.is_admin or user.is_becario %}
            <a class="dropdown-item" href="{% url 'requests' %}">Ver Solicitudes</a>
            {% endif %}
            {% if user.is_teacher %}
            <a class="dropdown-item" href="{% url 'requests' %}">Mis Solicitudes</a>
            {% endif %}
            {% if user.is_teacher or user.is_admin %}
            <a class="dropdown-item" href="{% url 'requestCreate' %}">Crear Solicitud</a>
            {% endif %}
        </div>
    </li>
    <li class="nav-item dropdown keep-open" id="menu-reservation">
        <a class="nav-link dropdown-toggle" href="#" onclick="activeMenu('reservation')" id="pagesDropdown2" role="button" data-toggle="dropdown"
           aria-expanded="false" data-disabled="true">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>{%  if user.is_teacher %} Mis Reservas {% else %} Reservas {% endif %}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown2">
            <a class="dropdown-item" href="{% url 'reservations' %}">Calendario</a>
            <a class="dropdown-item" href="{% url 'reservations_listado' %}">
            {%  if user.is_teacher %} Listado {% else %} Listado Reservas {% endif %}
            </a>
        </div>
    </li>
</ul>

<script type="text/javascript">
    // Open the last active menu
    function activeMenu(section) {
        $(`.dropdown.show>div.dropdown-menu`).removeClass('show');
        $(`.dropdown.show`).removeClass('show');
        window.sessionStorage.setItem('active', section);
    }

    // Check the viewport size to no open in mobile and smaller screen
    function findBootstrapEnvironment() {
        let envs = ['xs', 'sm', 'md', 'lg', 'xl'];

        let el = document.createElement('div');
        document.body.appendChild(el);

        let curEnv = envs.shift();

        for (let env of envs.reverse()) {
            el.classList.add(`d-${env}-none`);

            if (window.getComputedStyle(el).display === 'none') {
                curEnv = env;
                break;
            }
        }

        document.body.removeChild(el);
        return curEnv;
    }

    // Collapse sidebar if it was collapsed last time
    let collapsedMenuBoolean = false;
    let collapsedMenu = window.localStorage.getItem('collapsedMenu');
    if (collapsedMenu !== undefined) {
        collapsedMenuBoolean = (collapsedMenu === 'true');
        if (collapsedMenuBoolean) {
            $("body").addClass("sidebar-toggled");
            $(".sidebar").addClass("toggled");
        }
    }

    // Disable click outside to hide menu only in non mobile screens and no collapsed sidebar
    $('.dropdown.keep-open').on({
        "shown.bs.dropdown": function() { this.closable = false; },
        "click":             function() { this.closable = true; },
        "hide.bs.dropdown":  function() { return (this.closable || $('body').hasClass('sidebar-toggled') || ['xs', 'sm'].includes(findBootstrapEnvironment())); }
    });

    let activeItem = window.sessionStorage.getItem('active');
    if (activeItem !== undefined && !['xs', 'sm'].includes(findBootstrapEnvironment()) && !collapsedMenuBoolean) {
        $(`#menu-${activeItem}`).addClass('show');
        $(`#menu-${activeItem}>div.dropdown-menu`).addClass('show');
    }

    // Toggle the side navigation
    $("#sidebarToggle").on('click', function(e) {
        e.preventDefault();
        let collapsed = window.localStorage.getItem('collapsedMenu');
        if (collapsed !== undefined) {
            let valCollapsed = (collapsed === 'true');
            let switchedCollapsed = !valCollapsed;
            window.localStorage.setItem('collapsedMenu', switchedCollapsed.toString());
        }
        else {
            window.localStorage.setItem('collapsedMenu', 'true');
        }
    });
</script>