<!DOCTYPE html>
<html lang="es">

{% include 'includes/head.html' %}
<body id="page-top">
{% include 'includes/nav.html' %}
<div id="wrapper">
    <!-- Sidebar -->
    {% include 'includes/Sidebar.html' %}
    <div id="content-wrapper">
        <div class="container-fluid">
            {% block hilos %}
                <!-- Nodos-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active">Vista General</li>
                </ol>
            {% endblock hilos %}
            <!-- Contenido-->
            {% block content %}{% endblock content %}
        </div>
        <!-- Footer -->
        {% include 'includes/footer.html' %}
    </div>
</div>
<!-- Botton para Scroll Up-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


{% include 'includes/scripts.html' %}
</body>
</html>
