{% extends 'base.html' %}

{% block hilos %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Vista General</li>
  </ol>
{% endblock hilos %}

{% block content%}
  <!-- Contenido inicial de la pagina index, puede ir cualquier cosa representativa -->
  {% if user.is_admin or user.is_becario %}
    {% include 'includes/notificaciones.html' %}
  {% endif %}
  {% if user.is_teacher %}
    {% include 'includes/notificacionesProfesor.html' %}
  {%endif%}
{% endblock content%}
