{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'pc_so_sws' %}">PCs ,SOs & SWs</a>
        </li>
        <li class="breadcrumb-item active">Crear Terna PC,SO,SW</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            
                <div class="form-group">
                    <div class="form-label-group" style="text-align: center;">
                        <h5>Formulario para Crear una Terna PC, SO y SW</h5>
                        <hr>
                    </div>
                </div>
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Crear</button>
                        </div>
                    </form>
                </div>
            
        </div>
    </div>
    
{% endblock content %}