{% extends 'base.html' %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">PCs SOs & SWs</li>
    </ol>
{% endblock hilos %}

<!-- Contenido de la Página-->
{% block content %}
    <div class="row">
        {% for pc_so_sw in pc_so_sws %}
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">{{pc_so_sw.id}} ) PC: {{ pc_so_sw.pc }} ,SO: {{ pc_so_sw.so }} ,SW: {{ pc_so_sw.sw }}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{% url 'pc_so_swsDetail' pc_so_sw.id  %}">
                        <span class="float-left">Ver detalles</span>
                        <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
