{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        {% if reservation.id %}
        <li class="breadcrumb-item active">
            <a href="{% url 'reservations_listado' %}">Reservas</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="{% url 'reservationDetail' reservation.id %}">Reserva {{ reservation.id }}</a>
        </li>
        {% endif %}
        {% if instance.number %}
            <li class="breadcrumb-item active">Editar Ranura {{ instance.number }}</li>
        {% else %}
            <li class="breadcrumb-item active">Crear Ranura</li>
        {% endif %}
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    {% if instance.number %}
                        <h5>Editar Ranura {{ instance.number }}</h5>
                    {% else %}
                        <h5>Crear Ranura</h5>
                    {% endif %}
                    <hr>
                </div>
            </div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>

        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.dateinput').datepicker({
                'format': 'dd/mm/yyyy',
                'autoclose': true,
                language: 'es',
                'minDate': new Date(),
                onRenderCell: function (date, cellType) {
                    if (cellType === 'day') {
                        let day = date.getDay(),
                            isDisabled = day === 0;
                        return {
                            disabled: isDisabled
                        }
                    }
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/fn.timepicker.js' %}"></script>
{% endblock content %}

