{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">
            <b>Ranuras</b>
        </li>
        <li class="breadcrumb-item active">Ranura: <b>{{instance.id}}</b> </li>
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                        <h5>Editar Ranura</h5>
                    <hr>
                </div>
            </div>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="save btn btn-primary btn-block">Guardar</button>
                    <button onclick="borrarSlot({{instance.id}});" class="save btn btn-danger btn-block">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        async function borrarSlot(slot_pk){
            url_to_fectch = `/api/ranura/${slot_pk}/borrar/`;
            await fetch(url_to_fectch).catch(err => console.error(err));
            document.location.replace(document.referrer);
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_day').datepicker({
                'format': 'dd/mm/yyyy',
                'autoclose': true,
                language: 'es',
                'minDate': new Date(),
                onRenderCell: function (date, cellType) {
                    if (cellType === 'day') {
                        let day = date.getDay(),
                            isDisabled = day === 0;
                        return {
                            disabled: isDisabled
                        }
                    }
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/fn.timepicker.js' %}"></script>
{% endblock content %}

