{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item active">
            <b>Ranuras</b>
        </li>
        <li class="breadcrumb-item active">Ranura: <b>{{instance.id}}</b> </li>
    </ol>
{% endblock hilos %}
<!-- Contenido de la Página-->
{% block content %}
    <div class="card card-formAulas mx-auto">
        <h5 class="card-header"><b>Ranura:</b> {{instance.id}} </h5>
        <div class="card-body">
            
            <div class="form-group">
                <div class="form-label-group">
                    <b>Solicitud de reserva:</b> {{instance.request.id}}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Reserva asociada:</b> {{instance.reservation.id}}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Día:</b> {{instance.day}}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Hora de inicio:</b> {{instance.start_time}}
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <b>Hora de fin:</b> {{instance.end_time}}
                </div>
            </div>
            {% if user.is_admin %}
            <div class="form-group">
                <a href="{% url 'slotsEdit' instance.id %}" class="btn btn-primary btn-block">Editar</a>
                <a href="{% url 'apiSlotsDelete' instance.id %}" class="btn btn-danger btn-block">Eliminar</a>
            </div>
            {% endif %}
         </div>
    </div>

{% endblock content %}

