{% extends 'base.html' %}
{% load static %}
{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sws' %}">SWs</a>
        </li>
        <li class="breadcrumb-item active">Asignaciones</li>
    </ol>

{% endblock hilos %}

{% block content %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col col-xs-6">
                        <i class="fas fa-table"></i>
                         Listado de Asignaciones SW-PC
                    </div>
                </div>  
            </div>
            <div class="card-body" id="elementCard">
                <!-- {% if pcs_added != None %}
                    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                        Se ha agregado el <strong>SW {% with pcs_added|first as first_pc %}{{ first_pc.sw }}{% endwith %}</strong> a un total de <strong>{{ pcs_added|length }} PCs</strong> del <strong>Aula {% with pcs_added|first as first_pc %}{{ first_pc.classroom.number }}{% endwith %}</strong>
                        {% for pc in pcs_added %}
                        <span class="d-block">PC {{ pc.number }}</span>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %} -->

                <!-- pesatañas -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">SW Aula PC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Aula SW PC</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Aula PC SW</a>
                  </li>
                </ul>
                <br>
                <!-- contenido pesañas -->
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <!-- contenido pesaña SW AULA PC -->
                        <div id="vista_sw_aula_pc">
                            <div class="table-responsive-md">
                                <table class="table table-hover display" style="width: 100%" id="" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Software</th>
                                            <th>Aula</th>
                                            <th>PC</th>
                                            <th>Sistemas Operativos</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {% for pc_so_sw in scps %}
                                        <tr>
                                            <td>{{ pc_so_sw.sw }}</td>
                                            <td>{{ pc_so_sw.classroom }}</td>
                                            <td>{{ pc_so_sw.pc }}</td>
                                            <td>{{ pc_so_sw.so }}</td>
                                            <td>
                                                <a href="{% url 'swAssignmentDelete' pc_so_sw.id %}" class="text-danger text-decoration-none">
                                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="vista_aula_sw_pc">
                            <div class="table-responsive-md">
                                <table class="table table-hover display" style="width: 100%" id="" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Aula</th>
                                            <th>Software</th>
                                            <th>PC</th>
                                            <th>Sistemas Operativos</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {% for pc_so_sw in csps %}
                                        <tr>
                                            <td>{{ pc_so_sw.classroom }}</td>
                                            <td>{{ pc_so_sw.sw }}</td>
                                            <td>{{ pc_so_sw.pc }}</td>
                                            <td>{{ pc_so_sw.so }}</td>
                                            <td>
                                                <a href="{% url 'swAssignmentDelete' pc_so_sw.id %}" class="text-danger text-decoration-none">
                                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                       <div id="vista_aula_pc_sw">
                            <div class="table-responsive-md">
                                <table class="table table-hover display" style="width: 100%" id="" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Aula</th>
                                            <th>PC</th>
                                            <th>SO</th>
                                            <th>SW</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        {% for pc_so_sw in apss %}
                                        <tr>
                                            <td>{{ pc_so_sw.classroom }}</td>
                                            <td>{{ pc_so_sw.pc }}</td>
                                            <td>{{ pc_so_sw.so }}</td>
                                            <td>{{ pc_so_sw.sw }}</td>
                                            <td>
                                                <a href="{% url 'swAssignmentDelete' pc_so_sw.id %}" class="text-danger text-decoration-none">
                                                    <i class="material-icons" title="Eliminar" data-toggle="tooltip">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="{% static 'js/fn.datatables.js' %}"></script>
{% endblock content %}
