{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sws' %}">SWs</a>
        </li>
        <li class="breadcrumb-item active">Asignar a PC</li>
    </ol>
{% endblock hilos %}

{% block content %}
    <!-- alerta sw -->
    {% if not existen_sws %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear un <b>SW</b> previamente a su asignación.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'swCreate' %}" class="btn btn-success btn-block">Crear SW</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- alerta pc -->
    {% if not existen_pcs %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear una <b>PC</b> previamente a su asignación.
            </div>
            <div class="form-group mb-0">
            <a href="{% url 'pcCreate' %}" class="btn btn-success btn-block">Crear PC</a>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- alerta so -->
    {% if not existen_sos %}
    <div class="card card-formAulas mx-auto alert alert-warning">
        <div class="card-body">
            <div class="form-group">
                Es necesario crear un <b>SO</b> previamente a su asignación.
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'soCreate' %}" class="btn btn-success btn-block">Crear SO</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group" style="text-align: center;">
                    <h5>Asignar SW a PC</h5>
                    <hr>
                </div>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {%  if not existen_pcs or not existen_sos or not existen_sws %}
                    <div class="form-group">
                            <button disabled type="submit" class="btn btn-dark btn-block">Asignar</button>
                        </div>
                    {% else %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Asignar</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        let select_pc = document.getElementById("id_pc");

        select_pc.onchange = function () {
            let id_pc = parseInt(select_pc.value);

            if (id_pc) {
                let csrftoken = Cookies.get('csrftoken');

                fetch(`/ajax/so/?pc_id=${id_pc}`, {
                    method: "get",
                    credentials: "same-origin",
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    }
                }).then(function (res) {
                    return res.text();
                }).then(function (html) {
                    console.log(`html = ${html}`);
                    $('#id_so').html(html);
                }).catch(function (ex) {
                    console.log("error", ex);
                });
            }
            else {
                $('#id_so').html('');
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'js/fn.chosen.js' %}"></script>
{% endblock content %}