{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block hilos %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'sws' %}">SWs</a>
        </li>
        {% if sw.id %}
            <li class="breadcrumb-item active">Editar SW</li>
        {% else %}
            <li class="breadcrumb-item active">Crear SW</li>
        {% endif %}
    </ol>
{% endblock hilos %}

{% block content %}
    <div class="card card-formAulas mx-auto">
        <div class="card-body">
            <div class="form-group">
                <div class="form-label-group text-center">
                    {% if sw.id %}
                        <h5>Editar SW</h5>
                    {% else %}
                        <h5>Crear SW</h5>
                    {% endif %}
                    <hr>
                </div>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}